asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
croniter==6.2.3
Django==6.0.6
django-redis==7.0.0
django-rq==4.1.0
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
packaging==26.2
psycopg2==2.9.12
pycountry==26.2.16
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==7.4.1
rq==2.10.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
